* {
  margin: 0px;
}

html {
  background-color: #113311;
}
#app {
  height: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
}

.front-grid-div {
  border: 2px dotted blue;
}

#container-4-div {
  visibility: hidden;
}