* {
  margin: 0;
}

html {
  background-color: #113311;
}
#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#front-container-div {
  display: grid;
  margin: 5px;
  background-color: #676;
  border: 2px solid #9a9;
  grid-template-rows: 177px 228px 177px;
  grid-template-columns: 185px 600px 185px;
}

#front-container-div > div {
  border: 3px #353 solid;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.page-header-div {
  text-indent: -39%;
  padding-top: 33px; 
  text-align: center;
}

button {
  
  border: 2px #232 inset;
  background-color: #131;
  color: #898
}
button:hover {
  border: 2px rgb(59, 89, 59) inset;
  background-color: rgb(26, 77, 26);
  color: rgb(215, 220, 178);
}

button:active {
  border: 2px rgb(97, 148, 97) outset;
  background-color: rgb(47, 128, 47);
  color: rgb(231, 225, 147);
}
button:focus {
  border: 2px rgb(134, 179, 109) dotted;
}
a:link {
  color: rgb(242, 245, 221)
}
a:visited {
  color: rgb(192, 193, 187);
}

a:hover {
  color: rgb(245, 226, 84);
}

a:active {
  color: rgb(208, 214, 210);
}


input[type=text] {
  border: 2px inset #a1a5b0;
  background-color: #d3dfdb
}

input[type=text]:focus {
  outline: none;
  background-color: #cedee9;
}

