#logo {
    max-width: 5em;
}
body {
    margin: 0px;
  }
body #comment {
    
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(110, 150, 110);
}
main #COMMENT {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

a:link {
 comment: a normal, unvisited link;
 color: rgb(0, 37, 91);
}
a:visited {
    comment: - a link the user has visited;
    color: rgb(54, 2, 70);
} 

a:hover {
    color: rgb(123, 170, 211);
}

a:active {
    color: green;
}

stuff {

    comment: a:active - a link the moment it is clicked;
}
