#quote-block-div q {
    white-space: nowrap;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
}
#quote-block-div p {
    font-size: small;
    padding:0%;
    margin: 0;
    margin-left: 25px;
    white-space: nowrap;

};

#learned-list-h2 {
    background-color: red;
}